/*Main stylesheet*/
/*Colors*/
$blue: #0DACDF;
$blue-onfocus: rgb(5, 115, 151);
$black:#000000;
$white-pure:#FFFFFF;
$white-main: #F2F3F4;
$grey-text:#9E9797;
$grey-link:rgb(119, 116, 116);
$grey-main-border:#E9E5E5;

@mixin flexible() {
    display:flex;
    justify-content:center;
    align-items:center;
}
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
object {
    /*The following makes Object elements with SVG graphics clickable in Chrome*/
	pointer-events:none;
}
body {
    width:100%;
    min-height:100vh;
    @include flexible();
    flex-direction:column;
    justify-content:space-between;
    font-family: 'Open Sans', sans-serif;
    color:$grey-text;
    a {
        color:$grey-link;
        text-decoration:none;
        &:hover {
            color:$grey-text;
        }
    }
}
header {
    width:100%;
    @include flexible();
    justify-content:flex-start;
    padding: 1vw 3vw 1vw 3vw;
    flex-grow:1;
}
.logo-container {
    @include flexible();
}
.logo-img {
    width:100px;
}
@media(min-width:500px) {
    .logo-img {
        width:140px;
    }
}
.logo-text {
    font-size:41px;
    color: $black;
    font-family:'Roboto', sans-serif;
    margin:0 0 0 7px;
    cursor:default;
}
@media(min-width:500px) {
    .logo-text {
        font-size:61px;
        margin:0 0 0 15px;
    }
}
.hamburger-btn {
    margin-left:auto;
    width:42px;
    height:42px;
    @media(min-width:500px) {
        width:65px;
        height:65px;
    }
    border:none;
    background-color:transparent;
    background-image:url('../img/hamburger.svg');
    background-size:cover;
    background-position:center;
    transition:transform 0.3s ease-in;
    @mixin hamburger-animation() {
        opacity:0.5;
        transform:rotate(45deg) scale(1.1, 1.1);
    }
    &:focus {
        outline:0;
        @include hamburger-animation();
    }
    &:hover {
        opacity:0.5;
        @include hamburger-animation();
        cursor:pointer;
    }
}
.button-hidden {
    visibility:hidden;
}

main {
    width:100%;
    padding: 15vw 3vw 15vw 3vw;
    @media(min-width:550px) {
        padding:5vw 3vw 5vw 3vw;
        justify-content:space-between;
    }
    background-color:$white-main;
    border-top: 4px solid $grey-main-border;
    border-bottom: 4px solid $grey-main-border;
    font-size: 14px;
    @media(min-width:760px) {
        font-size:20px;
    }
    @media(min-width:550px) {
        flex-direction:row;
    }
    @include flexible();
    justify-content:space-around;
    flex-direction:column;
    flex-wrap:wrap;
    flex-grow:3;
}
.container-1 {
    background-color:$white-pure;
    align-self:stretch;
    min-width:470px;
    width:48%;
    font-size:0.9rem;
    @media(max-width:1041px) {
        width:100%;
        font-size: 1.1rem;
    }
    @media(max-width:552px) {
        font-size: 0.8rem;
        min-width:300px;
    }
    @include flexible();
    align-items:center;
    justify-content:center;
    flex-direction:column;
    border-radius:6px;
    padding: 2vw 3vw 2vw 3vw;
    p {
        margin: 20px 0 20px 0;
        text-align:justify;
        width:100%;
    }
    input {
        width:80%;
        padding:0 20px 0 20px;
        text-align:justify;
        font-size:inherit;
        font-family:inherit;
        height:30px;
        border:0;
        background-color:$blue;
        border-radius:4px;
        color:$white-pure;
        transition: background-color 0.2s linear;
        &:focus {
            outline:none;
            background-color:$blue-onfocus;
        }
    }
}           
.container-1:first-child {
    margin: 0 0 40px 0;
    @media(min-width:1041px) {
        margin: 0 4% 0 0;
    }
}
.btn-start, .contact-button {
    justify-self:center;
    @include flexible;
    border:none;
    background-color:$blue;
    color:$white-pure;
    width:300px;
    height:100px;
    border-radius: 40px !important;
    @media(min-width:760px) {
        width: 400px;
        height:130px;
        border-radius: 50px;
        font-size: 80px
    }
    margin: 0 0 0 20px;

    font-family:'Roboto', sans-serif;
    font-size:60px;
    font-weight:bold;

    transition: opacity 0.1s linear;
    transition: box-shadow 0.2s linear;
    transition: transform 0.2s linear;

    .right-arrow-lp {
        width: 70px;
        @media(min-width:760px) { 
             width: 90px;  
        }
        margin: 0 0 0 20px;     
    }
    &:focus {
        outline:0;
        background-color:$blue-onfocus;
    }
    &:hover {
        background-color:$blue-onfocus;
        transform:scale(1.1, 1.1);
        cursor:pointer;
    }
}
footer {
    width:100%;
    height: 35px;
    background-color:$blue;
    @include flexible();
    justify-self:end;
    color:$white-pure;
    font-size: 14px;
}
.hidden {
    display:none;
}