/*Main stylesheet*/
/*Colors*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

object {
  /*The following makes Object elements with SVG graphics clickable in Chrome*/
  pointer-events: none;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  color: #9E9797;
}

body a {
  color: #777474;
  text-decoration: none;
}

body a:hover {
  color: #9E9797;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 1vw 3vw 1vw 3vw;
  flex-grow: 1;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 100px;
}

@media (min-width: 500px) {
  .logo-img {
    width: 140px;
  }
}

.logo-text {
  font-size: 41px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  margin: 0 0 0 7px;
  cursor: default;
}

@media (min-width: 500px) {
  .logo-text {
    font-size: 61px;
    margin: 0 0 0 15px;
  }
}

.hamburger-btn {
  margin-left: auto;
  width: 42px;
  height: 42px;
  border: none;
  background-color: transparent;
  background-image: url("../img/hamburger.svg");
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in;
}

@media (min-width: 500px) {
  .hamburger-btn {
    width: 65px;
    height: 65px;
  }
}

.hamburger-btn:focus {
  outline: 0;
  opacity: 0.5;
  transform: rotate(45deg) scale(1.1, 1.1);
}

.hamburger-btn:hover {
  opacity: 0.5;
  opacity: 0.5;
  transform: rotate(45deg) scale(1.1, 1.1);
  cursor: pointer;
}

.button-hidden {
  visibility: hidden;
}

main {
  width: 100%;
  padding: 15vw 3vw 15vw 3vw;
  background-color: #F2F3F4;
  border-top: 4px solid #E9E5E5;
  border-bottom: 4px solid #E9E5E5;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 3;
}

@media (min-width: 550px) {
  main {
    padding: 5vw 3vw 5vw 3vw;
    justify-content: space-between;
  }
}

@media (min-width: 760px) {
  main {
    font-size: 20px;
  }
}

@media (min-width: 550px) {
  main {
    flex-direction: row;
  }
}

.container-1 {
  align-self: stretch;
  background-color: #FFFFFF;
  min-width: 470px;
  width: 48%;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 6px;
  padding: 2vw 3vw 2vw 3vw;
}

@media (max-width: 1041px) {
  .container-1 {
    width: 100%;
    font-size: 1.1rem;
  }
}

@media (max-width: 552px) {
  .container-1 {
    font-size: 0.8rem;
    min-width: 300px;
  }
}

.container-1 p {
  margin: 20px 0 20px 0;
  text-align: justify;
  width: 100%;
}

.container-1 ul {
  padding-left: 20px;
  width: 100%;
}

.container-1 li {
  text-align: justify;
}

.container-1 input {
  width: 80%;
  padding: 0 20px 0 20px;
  text-align: justify;
  font-size: inherit;
  font-family: inherit;
  height: 30px;
  border: 0;
  background-color: #0DACDF;
  border-radius: 4px;
  color: #FFFFFF;
  transition: background-color 0.2s linear;
}

.container-1 input:focus {
  outline: none;
  background-color: #057397;
}

.container-1:first-child {
  margin: 0 0 40px 0;
}

@media (min-width: 1041px) {
  .container-1:first-child {
    margin: 0 4% 0 0;
  }
}

.btn-start, .contact-button {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #0DACDF;
  color: #FFFFFF;
  width: 300px;
  height: 100px;
  border-radius: 40px !important;
  margin: 0 0 0 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: bold;
  transition: opacity 0.1s linear;
  transition: box-shadow 0.2s linear;
  transition: transform 0.2s linear;
}

@media (min-width: 760px) {
  .btn-start, .contact-button {
    width: 400px;
    height: 130px;
    border-radius: 50px;
    font-size: 80px;
  }
}

.btn-start .right-arrow-lp, .contact-button .right-arrow-lp {
  width: 70px;
  margin: 0 0 0 20px;
}

@media (min-width: 760px) {
  .btn-start .right-arrow-lp, .contact-button .right-arrow-lp {
    width: 90px;
  }
}

.btn-start:focus, .contact-button:focus {
  outline: 0;
  background-color: #057397;
}

.btn-start:hover, .contact-button:hover {
  background-color: #057397;
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

footer {
  width: 100%;
  height: 35px;
  background-color: #0DACDF;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  color: #FFFFFF;
  font-size: 14px;
}

.hidden {
  display: none;
}
