@charset "UTF-8";
/*Colors*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  color: #9E9797;
}

body header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 1vw 3vw 1vw 3vw;
  flex-grow: 1;
}

body header .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body header .logo-container .logo-img {
  width: 140px;
}

@media (max-width: 500px) {
  body header .logo-container .logo-img {
    width: 100px;
  }
}

body header .logo-container .logo-text {
  font-size: 62px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  margin: 0 0 0 15px;
  cursor: default;
}

@media (max-width: 500px) {
  body header .logo-container .logo-text {
    font-size: 41px;
    margin: 0 0 0 7px;
  }
}

body header .hamburger-btn {
  margin-left: auto;
  width: 65px;
  height: 65px;
  border: none;
  background-color: transparent;
  background-image: url("../img/hamburger.svg");
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in;
}

@media (max-width: 500px) {
  body header .hamburger-btn {
    width: 42px;
    height: 42px;
  }
}

body header .hamburger-btn:focus {
  outline: 0;
  opacity: 0.5;
  transform: rotate(45deg) scale(1.1, 1.1);
}

body header .hamburger-btn:hover {
  opacity: 0.5;
  opacity: 0.5;
  transform: rotate(45deg) scale(1.1, 1.1);
  cursor: pointer;
}

body header .button-hidden {
  visibility: hidden;
}

body main {
  width: 100%;
  padding: 5vw 3vw 5vw 3vw;
  background-color: #F2F3F4;
  border-top: 4px solid #E9E5E5;
  border-bottom: 4px solid #E9E5E5;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 3;
}

@media (max-width: 550px) {
  body main {
    padding: 15vw 3vw 15vw 3vw;
    justify-content: space-around;
  }
}

@media (max-width: 760px) {
  body main {
    font-size: 14px;
  }
}

@media (max-width: 550px) {
  body main {
    flex-direction: column;
  }
}

body main .container-1 {
  background-color: #FFFFFF;
  align-self: stretch;
  min-width: 470px;
  width: 48%;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 6px;
  padding: 2vw 3vw 2vw 3vw;
}

@media (max-width: 1041px) {
  body main .container-1 {
    width: 100%;
    font-size: 1.1rem;
  }
}

@media (max-width: 552px) {
  body main .container-1 {
    font-size: 0.8rem;
    min-width: 300px;
  }
}

body main .container-1 p {
  margin: 20px 0 20px 0;
  text-align: justify;
}

body main .container-1 .game, body main .container-1 .result {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

body main .container-1 .game h2, body main .container-1 .game h3, body main .container-1 .result h2, body main .container-1 .result h3 {
  width: 80%;
  text-align: center;
}

body main .container-1 .game h2, body main .container-1 .result h2 {
  font-size: 1.3rem;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

body main .container-1 .game h3, body main .container-1 .result h3 {
  font-weight: normal;
  font-size: 0.9rem;
}

body main .container-1 .game p, body main .container-1 .game input, body main .container-1 .result p, body main .container-1 .result input {
  width: 80%;
  text-align: justify;
  padding: 0 20px 0 20px;
}

body main .container-1 .game p, body main .container-1 .result p {
  margin: 25px 0 6px 0;
}

body main .container-1 .game input, body main .container-1 .result input {
  text-align: justify;
  font-size: inherit;
  font-family: inherit;
  height: 30px;
  border: 0;
  background-color: #0DACDF;
  border-radius: 4px;
  color: #FFFFFF;
  transition: background-color 0.2s linear;
}

body main .container-1 .game input:focus, body main .container-1 .result input:focus {
  outline: none;
  background-color: #057397;
}

body main .container-1 .result {
  display: flex;
  justify-content: center;
  align-items: center;
}

body main .container-1 .result .result-symbols {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 10px 20px 10px;
}

body main .container-1 .result .result-symbols object {
  width: 100px;
}

@media (max-width: 450px) {
  body main .container-1 .result .result-symbols object {
    width: 60px;
  }
}

body main .container-1 .result .result-cup {
  width: 40px;
  margin: 0 10px 0 0;
}

body main .container-1 .steering {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

body main .container-1 .steering button {
  width: 100px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9E9797;
  border: 0;
  border-radius: 30px;
}

body main .container-1 .steering button:focus {
  outline: 0;
}

body main .container-1 .steering .active {
  background-color: #0DACDF;
  transition: background-color 0.2s linear;
  transition: transform 0.2 linear;
}

body main .container-1 .steering .active:focus {
  background-color: #057397;
}

body main .container-1 .steering .active:hover {
  background-color: #057397;
  transform: scale(1.1, 1);
}

body main .container-1 .steering object {
  width: 40px;
  height: 40px;
}

body main .container-1:first-child {
  margin: 0 4% 0 0;
}

@media (max-width: 1041px) {
  body main .container-1:first-child {
    margin: 0 0 40px 0;
  }
}

body footer {
  width: 100%;
  height: 35px;
  background-color: #0DACDF;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  color: #FFFFFF;
  font-size: 14px;
}

.btn-start {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #0DACDF;
  color: #FFFFFF;
  width: 400px;
  height: 130px;
  border-radius: 50px;
  margin: 0 0 0 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  font-weight: bold;
  transition: opacity 0.1s linear;
  transition: box-shadow 0.2s linear;
  transition: transform 0.2s linear;
}

@media (max-width: 760px) {
  .btn-start {
    width: 300px;
    height: 100px;
    border-radius: 40px;
    font-size: 60px;
  }
}

.btn-start .right-arrow-lp {
  width: 90px;
  margin: 0 0 0 20px;
}

@media (max-width: 760px) {
  .btn-start .right-arrow-lp {
    width: 70px;
  }
}

.btn-start:focus {
  outline: 0;
  background-color: #057397;
}

.btn-start:hover {
  background-color: #057397;
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

aside {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 9;
  background-color: #000000;
  opacity: 0.9;
}

aside .aside-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

aside .close-button {
  background-color: transparent;
  background-image: url("../img/close.svg");
  background-position: center;
  background-size: cover;
  border: 0;
  align-self: flex-end;
  width: 20px;
  height: 20px;
  margin: 10px 10px 0px 0px;
  transition: transform 0.2s linear;
}

aside .close-button:hover {
  transform: rotate(45deg);
  opacity: 0.8;
}

aside .close-button:focus {
  outline: none;
  transform: rotate(45deg);
  opacity: 0.8;
}

aside .close-button object {
  width: 20px;
  height: 20px;
}

aside ul {
  margin: auto 0 auto 0;
  list-style-type: none;
  width: 100%;
}

aside ul li {
  width: 100%;
  height: 30px;
}

aside ul a {
  color: #F2F3F4;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  transition: background-color 0.2s linear;
  transition: padding-left 0.2s linear;
}

aside ul a:before {
  content: '»';
  padding-right: 10px;
}

aside ul a:hover {
  background-color: #057397;
}

aside ul a:hover:before {
  padding-left: 20px;
}

.menu-hidden {
  visibility: hidden;
}

.aside-animation-show {
  animation-name: menu-show;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  /*No hover during the animation - looks bad if the cursor accidentaly gets on a link */
}

.aside-animation-show a:hover {
  background-color: transparent;
}

.aside-animation-show a:hover:before {
  padding-left: 0;
}

@keyframes menu-show {
  0% {
    height: 0px;
  }
  100% {
    height: 100vh;
  }
}

.aside-animation-hide {
  animation-name: menu-hide;
  animation-duration: 0.9s;
  animation-iteration-count: 1;
}

@keyframes menu-hide {
  0% {
    right: 0px;
  }
  100% {
    right: -250px;
  }
}

.container-fadeout {
  animation-name: container-fadeout;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes container-fadeout {
  100% {
    opacity: 0;
  }
}

.container-fadein {
  animation-name: container-fadein;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes container-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container-non-appearent {
  opacity: 0;
}
