.hidden {
  display: none !important;
}

.game-container, .result-container {
  justify-content: flex-start;
}

.game {
  font-family: 'Source Code Pro', monospace;
}

.quasi-text-cursor {
  display: inline-block;
  width: 10px;
  height: 20px;
  background-color: #0DACDF;
  animation-name: cursor-blink;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  margin-bottom: -2px;
}

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.game-info {
  height: 80%;
  margin: 20px 0 0 0;
}

.game, .result, .game-info {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game .gamestart-prompt, .result .gamestart-prompt, .game-info .gamestart-prompt {
  font-family: 'Open Sans';
  animation-name: prompt;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes prompt {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.game .line-text, .game .quasi-input, .result .line-text, .result .quasi-input, .game-info .line-text, .game-info .quasi-input {
  width: 100%;
  text-align: justify;
  vertical-align: middle;
  padding: 0 20px 0 20px;
  margin: 0 0 0 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.game .quasi-input, .result .quasi-input, .game-info .quasi-input {
  color: #0DACDF;
  width: auto;
}

.game .quasi-input-active, .result .quasi-input-active, .game-info .quasi-input-active {
  background-color: #f5ecec;
}

.game .line, .result .line, .game-info .line {
  width: 100%;
  margin: 10px 0 0 0;
  justify-self: center;
}

.game .line-hidden, .result .line-hidden, .game-info .line-hidden {
  display: none;
}

.game .typing-error, .result .typing-error, .game-info .typing-error {
  background-color: #e23c3c;
  color: #ffffff;
}

.game-header {
  font-size: 1.3rem;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.gamestart-prompt {
  width: 100%;
  height: 10%;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  font-family: 'Open Sans';
  animation-name: prompt;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes prompt {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-symbols {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 10px 20px 10px;
}

.result-symbols object {
  width: 60px;
}

@media (min-width: 450px) {
  .result-symbols object {
    width: 100px;
  }
}

.result-cup {
  width: 40px;
  margin: 0 10px 0 0;
}

.steering {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.steering button {
  width: 100px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9E9797;
  border: 0;
  border-radius: 30px;
}

.steering button:focus {
  outline: 0;
}

.steering .active {
  background-color: #0DACDF;
  transition: background-color 0.2s linear;
  transition: transform 0.2 linear;
}

.steering .active:focus {
  background-color: #057397;
}

.steering .active:hover {
  background-color: #057397;
  transform: scale(1.1, 1);
}

.steering object {
  width: 40px;
  height: 40px;
}
