$grey-text:#9E9797;
$blue: #0DACDF;
$blue-onfocus: rgb(5, 115, 151);
$red: #e23c3c;
$quasi-input-active: #f5ecec;
@mixin flexible() {
    display:flex;
    justify-content:center;
    align-items:center;
}
.game {
    font-family: 'Source Code Pro', monospace;
}
.quasi-text-cursor {
    display:inline-block;
    width:10px;
    height:20px;
    background-color:$blue;
    animation-name:cursor-blink;
    animation-duration:0.8s;
    animation-iteration-count:infinite;
    margin-bottom: -2px;
}
@keyframes cursor-blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.game, .result {
    width:100%;
    height:100%;
    @include flexible();
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    .gamestart-prompt {
        font-family:'Open Sans';
        animation-name:prompt;
        animation-duration: 1.5s;
        animation-iteration-count:infinite;
    }
    @keyframes prompt {
        0% {
            opacity:1
        }
        15% {
            opacity:0;
        }
        60% {
            opacity:1;
        }
        100% {
            opacity:1;
        }
    }
    h2, h3 {
        width:80%;
        text-align:center;
    }
    h2 {
        font-size:1.3rem;
        font-weight:normal;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    h3 {
        font-weight:normal;
        font-size: 0.9rem;
    }
    .line-text, .quasi-input {
        width:100%;
        text-align:justify;
        vertical-align:middle;
        padding:0 20px 0 20px;
        margin: 0 0 0 0;
        margin-block-start:0;
        margin-block-end:0;
    }
    .quasi-input {
        color:$blue;
        width:auto;
    }
    .quasi-input-active {
        background-color: $quasi-input-active; 
    }
    .line {
        width:100%;
        margin: 10px 0 0 0;
        justify-self:start;
    }
    .line-hidden {
        display:none;
    }
    .typing-error {
        background-color: $red;
        color:#ffffff;
    }
}
.result {
    @include flexible();
}
.result-symbols {
    @include flexible();
    margin: 40px 10px 20px 10px;
    object {
        width: 60px;
    }
    @media(min-width:450px) {
        object {
            width: 100px;
        }
    }
}
.result-cup {
    width:40px;
    margin:0 10px 0 0;
}
.steering {
    width:80%;
    @include flexible();
    justify-content:space-around;
    button {
        width: 100px;
        height: 65px;
        @include flexible();
        background-color:$grey-text;
        border:0;
        border-radius:30px;
        &:focus {
            outline:0;
        }
    }
    .active {
        background-color:$blue;
        transition: background-color 0.2s linear;
        transition: transform 0.2 linear;
        &:focus {
            background-color:$blue-onfocus;
        }
        &:hover {
            background-color:$blue-onfocus;
            transform:scale(1.1, 1);
        }
    }
    object {
        width:40px;
        height:40px;
    }
}    
