/*Colors*/
$blue: #0DACDF;
$blue-onfocus: rgb(135, 216, 243);
$black:#000000;
$white-pure:#FFFFFF;
$white-content-container: #F2F3F4;
$grey-text:#9E9797;
$grey-animals:#E9E5E5;
$grey-content-container-border:#E9E5E5;

@mixin flexible() {
    display:flex;
    justify-content:center;
    align-items:center;
}
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    width:100%;
    height:100vh;
    @include flexible();
    flex-direction:column;
    font-family: 'Open Sans', sans-serif;

    .logo-container-lp {
        @include flexible();

        .logo-img-lp {
            width:30vw;
         }
        .logo-text-lp {
            font-size:12vw;
            color: $black;
            font-family:'Roboto', sans-serif;
            margin:3vw;
        }
    }
    .btn-start-lp {
        @include flexible;
        border:none;
        background-color:$blue;
        color:$white-pure;
        width:25vw;
        height:7vw;
        border-radius: 2vw;
        margin: 3vw 0 0 0;
        
        font-family:'Roboto', sans-serif;
        font-size:4vw;
        font-weight:bold;

        transition: opacity 0.1s linear;
        transition: box-shadow 0.2s linear;

        .right-arrow-lp {
            width: 5vw; 
            margin: 0 0 0 2vw;           
        }
        &:focus {
            outline:0;
            box-shadow: 2px 2px $blue-onfocus;
        }
        &:hover {
            opacity:0.7;
        }
    }
}