<div class ="container-1">
    <div class ="contact-row">
        <object type ="image/svg+xml" data ="img/mail.svg"></object>
        <span>
            p.swiatek.piotr@gmail.com
        </span>
    </div>
    <div class ="contact-row">
        <object type = "image/svg+xml" data ="img/phone.svg"></object>
        <span>
            +48 695 019 008
        </span>
    </div>
</div>
<div class ="container-1">
    <label class ="contact-label" for ="contact-name">Imię</label>
    <input type ="text" id="contact-name" name ="name" class="contact-input contact-name" placeholder="Imię">
    <label class ="contact-label" for ="contact-subject">Temat</label>
    <input type ="text" id="contact-subject"name ="subject" class="contact-input contact-subject" placeholder="Temat">
    <label class ="contact-label" for ="contact-email">E-mail</label>
    <input type ="email" id="contact-email"name ="email" class="contact-input contact-email" placeholder="Adres E-mail">
    <label class ="contact-label" for ="contact-content">Wiadomość</label>
    <textarea name ="content" id="contact-content" class ="contact-input textarea-content" placeholder="Treść wiadomości"></textarea>
    <input type="submit" name ="submit" value ="Wyślij" class ="contact-button">
</div>