<div class ="container-1">
    <div class ="contact-row">
        <object type ="image/svg+xml" data ="img/mail.svg"></object>
        <span>
            p.swiatek.piotr@gmail.com
        </span>
    </div>
    <div class ="contact-row">
        <object type = "image/svg+xml" data ="img/phone.svg"></object>
        <span>
            +48 695 019 008
        </span>
    </div>
</div>
<div class ="container-1">
    <input type ="text" name ="name" class="contact-input contact-name" placeholder="Imię">
    <input type ="text" name ="subject" class="contact-input contact-subject" placeholder="Temat">
    <input type ="email" name ="email" class="contact-input contact-email" placeholder="Adres E-mail">
    <textarea name ="content" class ="contact-input textarea-content" placeholder="Treść wiadomości"></textarea>
    <input type="submit" name ="submit" value ="Wyślij" class ="contact-button">
</div>