<div class ="container-1">
    <object type ="image/svg+xml" data ="img/copyright.svg"></object> 
</div>
<div class ="container-1">
    <p>
        Grafiki zostały pobrane ze strony <a href="http://flaticon.com">Flaticon.com</a>. 
        Ich autorami są uźytkownicy: <a href ="https://www.freepik.com">Freepik</a>, <a href="https://www.flaticon.com/authors/google" title="Google">Google</a>,
        <a href="https://www.flaticon.com/authors/icomoon" title="Icomoon">Icomoon</a>,
        <a href="https://www.flaticon.com/authors/maxim-basinski" title="Maxim Basinski">Maxim Basinski</a>,
        <a href="https://www.flaticon.com/authors/amit-jakhu" title="Amit Jakhu">Amit Jakhu</a> oraz
        <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a>.
        Grafiki zostały udostępnione na podstawie licencji <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons BY 3.0</a>.
    </p>
</div>
