<div class ="container-1 game-container">
    <!--<div class = "game">
        <h3 class ="gamestart-prompt">Zacznij pisać, gdy będziesz gotów</h3>
        <div class ="line">
            <p>
                Wpłynąłem na suchego przestwór oceanu
            </p>
            <p class ="quasi-input">
                Wpłynąłem na suchego przestwór oceanu
            </p>
        </div>
        <div class ="line">
            <p>
                Wóz nuża się w zieloność i jak łódka brodzi        
            </p>
            <p class ="quasi-input">
                Wóz nuża się w zieloność i jak łódka brodzi
            </p>
        </div>
        <div class ="line">
            <p>
                Śród fali łąk szumiących, śród kwiatów powodzi
            </p>
            <p class ="quasi-input">
                Śród fali łąk szumiących, śród kwiatów powodzi
            </p>
        </div>
        <div class ="line">
            <p>
                Omijam koralowe ostrowy bużanu
            </p>
            <p class ="quasi-input">
                Omijam koralowe ostrowy bużanu<span class ="quasi-text-cursor"></span>
            </p>
        </div>
    </div>-->
</div>
<div class = "container-1 result-container">
    <div class = "result">
        <h2>
            <object class ="result-cup" type ="image/svg+xml" data ="img/cup.svg">
            </object>
            Twój wynik
        </h2>
        <div class ="result-symbols">
            <object type ="image/svg+xml" data ="img/speed-1-grey.svg">
            </object>
            <object type ="image/svg+xml" data ="img/speed-2-grey.svg">
            </object>
            <object class ="active" type ="image/svg+xml" data ="img/speed-3-blue.svg">
            </object>
            <object type ="image/svg+xml" data ="img/speed-4-grey.svg">
            </object>
        </div>
        <p>
            Twoja prędkość to 200 słów na minutę
        </p>
        <p>
            Gratulacje, jesteś szybki!
        </p>
    </div>
    <div class ="steering">
        <button type="button" class ="steering active">
            <object type ="image/svg+xml" data ="img/play.svg">
            </object>
        </button>
        <button type="button" class ="steering active">
            <object type ="image/svg+xml" data ="img/stop.svg">
            </object>
        </button>
        <button type="button" class ="steering active">
            <object type="image/svg+xml" data="img/pause.svg">
            </object>
        </button>
    </div>
</div>