<div class ="container-1">
    <div class = "game">
        <h3>Zacznij pisać, gdy będziesz gotów</h3>
        <p>Wpłynąłem na suchego przestwór oceanu</p>
        <input type="text">
        <p>Wóz nuża się w zieloność i jak łódka brodzi</p>
        <input type="text">
        <p>Śród fali łąk szumiących, śród kwiatów powodzi</p>
        <input type="text">
        <p>Omijam koralowe ostrowy bużanu</p>
        <input type="text">
        </div>
</div>
<div class = "container-1">
    <div class = "result">
        <h2>
            <object class ="result-cup" type ="image/svg+xml" data ="img/cup.svg">
            </object>
            Twój wynik
        </h2>
        <div class ="result-symbols">
            <object type ="image/svg+xml" data ="img/speed-1-grey.svg">
            </object>
            <object type ="image/svg+xml" data ="img/speed-2-grey.svg">
            </object>
            <object class ="active" type ="image/svg+xml" data ="img/speed-3-blue.svg">
            </object>
            <object type ="image/svg+xml" data ="img/speed-4-grey.svg">
            </object>
        </div>
        <p>
            Twoja prędkość to 200 słów na minutę
        </p>
        <p>
            Gratulacje, jesteś szybki!
        </p>
    </div>
    <div class ="steering">
        <button type="button" class ="steering active">
            <object type ="image/svg+xml" data ="img/play.svg">
            </object>
        </button>
        <button type="button" class ="steering active">
            <object type ="image/svg+xml" data ="img/stop.svg">
            </object>
        </button>
        <button type="button" class ="steering active">
            <object type="image/svg+xml" data="img/pause.svg">
            </object>
        </button>
    </div>
</div>