<div class ="container-1 game-container">
    <h2 class = "game-header">
        <object class ="result-cup" type ="image/svg+xml" data ="img/game.svg">
        </object>
        Gra
    </h2>
</div>
<div class = "container-1 result-container">
    <h2 class = "game-header result-header hidden">
        <object class ="result-cup" type ="image/svg+xml" data ="img/cup.svg">
        </object>
            Twój wynik
    </h2>
    <div class = "result hidden">
        <div class ="result-symbols">
            <object class ="grade-1" type ="image/svg+xml" data ="img/speed-1-grey.svg">
            </object>
            <object class ="grade-2" type ="image/svg+xml" data ="img/speed-2-grey.svg">
            </object>
            <object class ="grade-3" type ="image/svg+xml" data ="img/speed-3-grey.svg">
            </object>
            <object class ="grade-4" type ="image/svg+xml" data ="img/speed-4-grey.svg">
            </object>
        </div>
        <p class = "speed-string">
        </p>
        <p class = "speed-comment">
        </p>
    </div>
    <h2 class = "game-header info-header">
        <object class ="result-cup" type ="image/svg+xml" data ="img/info.svg">
        </object>
        Informacje
    </h2>
    <div class = "game-info">
            <p>
                Aby rozpocząć grę, po prostu zacznij pisać
            </p>
            <p>
                Po przepisaniu tekstu, zostanie wyświetlony wynik.
                Aby otrzymać najlepszy możliwy rezultat, zaleca się znalezienie optymalnego
                tempa pisania. Nadmierny pośpiech może spowodować zwiększenie liczby
                literówek. Ich poprawianie, w grucie rzeczy przedłuży czas pisania.
            </p>
            <p>
                Sprawdź, jak szybki jesteś, razem z TypeIt!;
            </p>
    </div>
</div>