<div class ="container-1">
    <article>
        <h2>TypeIt!</h2>
        <p>
            TypeIt to narzędzie umożliwiające trening szybkiego pisania na klawiaturze. 
            Juz kilka powtórzeń dziennie wystarzy, by w krótkim czasie osiągnąć zauważalny efekt.
        </p>
        <p>
            Sprawdź, jak szybki jesteś razem z TypeIt!
        </p>
    </article>
</div>
<div class = "container-1">
    <a href ="#game">
        <button type ="button" class ="btn-start">
            Start
            <object class ="right-arrow-lp" type="image/svg+xml" data ="img/right-arrow.svg"></object>
        </button>
    </a>
</div>