<div class ="container-1">
    <object type ="image/svg+xml" data ="img/project.svg"></object>        
</div>
<div class ="container-1 project">
    <h2>O autorze</h2>
    <p>
        Nazywam się Piotr Świątek. W chwili pisania tego tekstu (wiosna 2019 roku),
        jestem początkującym frontend developerem. Znam HTML - wraz z zasadami semantyki, 
        oraz CSS - wraz z preprocesorem SASS. Potrafię także posługiwać się językiem JavaScript, w mojej ocenie -
        na poziomie juniorskim. Zdążyłem do tej pory także opanować
        podstawy jQuery oraz GIT. Jestem w początkowym stadium nauki biblioteki React. Stopniowo poprawiam także
        wyczucie estetyki w projektowaniu UI, choć prawdopodobnie nigdy nie będę tworzył dzieł sztuki.
        Znam język angielski w stopniu dobrym - zarówno w mowie, jak i w piśmie.
    </p>
    <h2>O projekcie</h2>
    <p>
        Celem stworzenia tego projektu jest przede wszystkim utrwalenie sobie dotychczasowej wiedzy
        z zakresu czystego JavaScript, a także, co oczywiste, udowodnienie jej posiadania osobom, które być może zajrzą tu
        w związku z rekrutacją. Łatwo zresztą zauważyć, że w wielu przypadkach "wynajduję koło" od nowa,
        zamiast skorzystać z gotowych rozwiązań. Projekty, w których udowodnię, że potrafię korzystać z bibliotek,
        stworzę w przyszłości. Niniejszy projekt bazuje w zasadzie wyłącznie na technologiach: HTML, CSS, SASS, JavaScript oraz GIT.
        Jedynym wyjątkiem jest tutaj biblioteka EmailJS, z która zapewnia Backend dla formularza kontaktowego.
    </p>
    <p>
        Zapraszam do zapoznania się z efektami mojej pracy, a także - jeśli to nie kłopot - do udzielenia mi stosownego feedbacku, przy pomocy
        <a href="index.html#contact">formularza kontaktowego</a>
    </p>
</div>